.footer-section {
    background-color: #008080; 
    color: white;
    padding: 40px 0; 
    font-family: sans-serif;
}

.footer-content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.footer-about {
    max-width: 400px;
}

.footer-title {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-text-small {
    font-size: 0.9em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.footer-contact, .footer-location {
    font-size: 0.9em;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

/* Bagian Sosial Media */
.footer-social {
    text-align: right;
}

.social-icons a {
    color: white;
    font-size: 1.5em;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #e0f7fa; 
}