.navbar-container {
    padding: 15px 0; 
    background-color: #55D6C2;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
    font-family: sans-serif;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.navbar-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 5%; 
}

.navbar-left {
    display: flex;
    align-items: center;
}

.simkes-logo {
    display: flex;
    align-items: center;
}

.simkes-logo img {
    width: 30px; 
    height: 30px;
    margin-right: 5px;
}

.logo-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; 
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    font-size: 0.95em;
    transition: color 0.2s;
}

.navbar-links a:hover {
    color: #ffffff;
}

.navbar-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 8px 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
}

.navbar-button:hover {
    background-color: #007bff;
    color: #fff;
}

.navbar-login-button {
    background-color: #04998E;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}

.navbar-login-button:hover {
    background-color: #ffffff;
}